@model IEnumerable<CharacterViewModel>
@using System.Linq;

@{
    ViewData["Title"] = "Dashboard";

    var firstCharacter = Model.First();
    var type = firstCharacter.Type;
    var accountId = firstCharacter.AccountId;
}

<table class="dash-board-table mt-1">
    <thead>
        <tr>
            @foreach (var character in Model)
            {
            <th>
                @await Html.PartialAsync("CharacterSummaryPartial", character)
            </th>
            }
        </tr>
    </thead>
    
    <tr>
        
    </tr>
    <tr>
        @foreach (var character in Model)
        {
            <td style="vertical-align: top;">
                @await Html.PartialAsync("RecommendationsPartial", character.Recommendations)
            </td>
        }
    </tr>
    <tr>
        @foreach (var character in Model)
        {
            <td style="vertical-align: top;">
                @await Html.PartialAsync("LowestItemsPartial", character.LowestItems)
            </td>
        }
    </tr>
    <tr>
        @foreach (var character in Model)
        {
            <td style="vertical-align: top;">
                @await Html.PartialAsync("HighestItemsPartial", character)
            </td>
        }
    </tr>
</table>