@model CharacterViewModel
@using Microsoft.AspNetCore.Mvc.ViewFeatures;

@{
    ViewData["Title"] = Model.ClassName + " Max Power";
}

<div class="container is-fluid">

  <div class="character-container">
    <div class="box character-title my-2">
      @await Html.PartialAsync("CharacterSummaryPartial", Model, new ViewDataDictionary(ViewData){{"wide", true}})
    </div>
  </div>

  <div class="character-container">
    @if(Model.Recommendations.Any()){
      <div class="mx-2 my-2">
        @await Html.PartialAsync("RecommendationsPartial", Model.Recommendations, new ViewDataDictionary(ViewData){{"wide", true}})
      </div>
    }

    <div class="mx-2 my-2">
      @await Html.PartialAsync("ItemPowerLevelsPartial", Model.Engrams, new ViewDataDictionary(ViewData){{"wide", true}})
    </div>
    
    @if(Model.LowestItems.Any()){
      <div class="mx-2 my-2">
          @await Html.PartialAsync("LowestItemsPartial", Model.LowestItems)
      </div>
    }
    <div class="mx-2 my-2">
      @await Html.PartialAsync("HighestItemsPartial", Model)
    </div>
  </div>
  
</div>