@{
    ViewData["Title"] = "Character Gear";
}

<div class="row">
    <div class="col-md-12">
      <p>Max Power: @Model.MaxPower</p>
      @foreach(var item in Model.Items)
      {
          <div>
            <img src="@item.Icon">[@item.PowerLevel] @item.Name
          </div>
      }
    </div>
</div>