@model CharacterViewModel

@{
    ViewData["Title"] = "Character Gear";
}

<p>Max Power: @Model.MaxPower</p>

<div class="float-md-left">
  @foreach(var weapon in Model.Weapons)
  {
    <p>
      @await Html.PartialAsync("ItemPartial", weapon)
    </p>
  }
</div>
<div class="float-md-right">
  @foreach(var armor in Model.Armor)
  {
    <p>
      @await Html.PartialAsync("ItemPartial", armor)
    </p>
  }
</div>
