@model CharacterViewModel

@{
    ViewData["Title"] = "Character Gear";
}

<picture class="float-right">
  <source media="(min-width: 992px)" srcset="@Model.EmblemBackgroundPath">
  <img src="@Model.EmblemPath" class="d-none d-md-block">
</picture>
<h1>Max Power: @Model.MaxPower</h1>

<div class="container">
  <div class="row">
    <h1>Lowest Items:</h1>
  </div>
  <div class="row">
    @foreach(var item in Model.LowestItems)
    {
      <div class="col-auto">
        @await Html.PartialAsync("ItemPartial", item)
      </div>
    }
  </div>
  <div class="row">
    <h1>All Items</h1>
  </div>
  <div class="row">
    @foreach(var item in Model.Items)
    {
      <div class="col-md-4">
        @await Html.PartialAsync("ItemPartial", item)
      </div>
    }
  </div>
</div>
