@model CharacterViewModel
@using Microsoft.AspNetCore.Mvc.ViewFeatures;

@{
    ViewData["Title"] = Model.ClassName + " Max Power";
}

<div class="container is-widescreen">
  @await Html.PartialAsync("CharacterSummaryPartial", Model, new ViewDataDictionary(ViewData){{"wide", true}})
  <div class="columns">
    @if(Model.Recommendations.Any()){
      <div class="column">
        @await Html.PartialAsync("RecommendationsPartial", Model.Recommendations, new ViewDataDictionary(ViewData){{"wide", true}})
      </div>
    }

    <div class="column">
      @await Html.PartialAsync("ItemPowerLevelsPartial", Model.Engrams, new ViewDataDictionary(ViewData){{"wide", true}})
    </div>

  </div>

  <div class="item-panels">

  @if(Model.LowestItems.Any()){
      @await Html.PartialAsync("LowestItemsPartial", Model.LowestItems)
  }
  
  @await Html.PartialAsync("HighestItemsPartial", Model)
  </div>
</div>