@model MaxPowerLevel.Models.Item

<ul style="list-style-type: none;">
  <li><strong>@Model.Slot.Name:</strong></li>
  <li><img src="@Model.Icon"></li>
  <li><span>[@Model.PowerLevel] @Model.Name</span></li>
</ul>

