/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;  
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}

img.char-icon {
  width: 36px;
  height: 36px;
  margin-right: 1rem;
}

.char-details-panel {
  margin: 5px;
  max-width: 300px;
  margin: auto;
}

/* Override bulma responsive navbar */
.navbar-item {
  color: #fff !important;
}

.navbar-end {
  justify-content: flex-end !important;
  margin-left: auto !important;
  
  align-items: stretch  !important;;
  display: flex  !important;;
}

.navbar > .container {
  align-items: stretch;
  display: flex;
  min-height: 3.25rem;
  width: 100%;
}

.character-box {
  position: relative;
  border-bottom: 2px solid #666;
  height: 72px;
  max-width: 356px;
  cursor: pointer;
  border-bottom: none;
}

.background {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: left center;
  background-repeat: no-repeat;
  z-index: 0;
}

.details {
  
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 6px 4px 8px;
  position: relative;
  z-index: 0;
}

.character-text {  
  margin-top: 5px;
  margin-left: 64px;
  color: white;
  font-family: 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
  font-weight: 500;
  font-size: 32px;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.5), 0px 0px 10px rgba(0,0,0,0.5);
}

.nav-panels {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 1rem;
  flex-wrap: wrap;
}

.nav-panel {
  min-width: 150px;
  margin: 10px;
}