@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <a asp-action="Login" asp-controller="Account" asp-route-returnUrl="/Account" class="btn btn-default">Login with Bungie</a>
    </div>
</div>