@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <a class="btn btn-primary btn-lg" asp-action="Login" asp-controller="Account" asp-route-returnUrl="/Account">Login with Bungie</a>
    </div>
</div>