@model ChargedWithLightViewModel

@{
    ViewData["Title"] = "Charged With Light Mods";
}

<div class="container is-fluid">
    <div class="my-2">
        <h1 class="title is-5">Charged with Light Mods</h1>
    </div>
    <div class="my-2">
        <p><em>NOTE: There is currently a bug in the Bungie API where mods from Season of Arrivals won't show as unlocked even if they are. Sorry!</em></p>
    </div>
    <div class="columns my-2">
        <div class="column">
            <h2 class="subtitle is-4">Become Charged with Light</h2>
            <div class="charged-mods">
                @foreach(var mod in Model.BecomeCharged)
                {
                    @await Html.PartialAsync("ModPartial", mod)
                }
            </div>
        </div>
        <div class="column">
            <h2 class="subtitle is-4">While Charged with Light</h2>
            <div class="charged-mods">
                @foreach(var mod in Model.WhileCharged)
                {
                    @await Html.PartialAsync("ModPartial", mod)
                }
            </div>
        </div>
    </div>
</div>
