@model ModData

<div class="charged-mod box my-2 mx-2">
  <div class="media">
    <div class="media-left">
      <figure class="image is-48x48">
          <mod mod="Model"></mod>
      </figure>
    </div>
    <div class="media-content">
      <div class="content">
        <p>
          <strong>@Model.Name</strong><br>
          <small>@Model.Type</small>
          
        </p>
      </div>
    </div>
   </div>
   <div>
       <table class="table mt-2">
            @foreach(var perk in Model.Perks)
            {
                <tr><td>@perk</td></tr>
            }
        </table>
   </div>
</div>