@model CharacterViewModel

@await Html.PartialAsync("RecommendationsPartial", Model.Recommendations)
@await Html.PartialAsync("ItemPowerLevelsPartial", Model.Engrams)

<div class="container">
  @await Html.PartialAsync("LowestItemsPartial", Model.LowestItems)
  @await Html.PartialAsync("HighestPowerItemsPartial", Model)
</div>
