@model CharacterViewModel

<h1>Max Power: <span style="white-space: nowrap;">@(Model.MaxPowerHuman)</span></h1>
<ul>
  <li>Base Power: @Model.BasePowerHuman</li>
  <li>Seasonal Artifact Power: @Model.BonusPower</li>
</ul>
