@model CharacterViewModel

@await Html.PartialAsync("RecommendationsPartial", Model.Recommendations)
@await Html.PartialAsync("ItemPowerLevelsPartial", Model.Engrams)

<div class="container">
  <div class="row">
    @await Html.PartialAsync("LowestItemsPartial", Model.LowestItems)
  </div>
  <div class="row">
    @await Html.PartialAsync("HighestItemsPartial", Model)
  </div>
</div>
