@model CharacterViewModel

<h1>Highest Power Items</h1>
@foreach(var item in Model.Items)
{
    <div class=@("col-md-" + (12 / Model.ItemsPerRow))>
    @await Html.PartialAsync("ItemPartial", item)
    </div>
}
