@model IEnumerable<Engram>

<div class="panel recommendations-panel">
    <p class="panel-heading">
        Item Power Levels
    </p>
    <div class="panel-block">
        <table class="table">
            <tbody>
                @foreach(var engram in Model)
                {
                    <tr>
                        <td>@engram.Name</td>
                        <td>
                            @if(engram.LowestPower==engram.HighestPower) {
                                @engram.HighestPower
                            }
                            @if(engram.LowestPower<engram.HighestPower) {
                                <span>@engram.LowestPower - @engram.HighestPower</span>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>