@model IEnumerable<Item>

@if(Model.Any())
{
    <div class="gear-panel panel">
        <p class="panel-heading">Lowest Items</p>
        <div class="panel-block">
            <div class='item-grid'>
            @foreach(var item in Model)
            {
                @await Html.PartialAsync("ItemPartial", item)
            }
            </div>
        </div>
    </div>
}
