@model IEnumerable<Recommendation>

@if(Model.Any())
{
  <div class="panel recommendations-panel">
    <p class="panel-heading">
      Recommendations
    </p>
      <div class="panel-block">
        <table class="table">
          <tbody>
          @foreach(var recommendation in Model){
            <tr>
              <td>
                @recommendation
                
                <div class="content">
                   <ul class="content">
                  @foreach(var activity in recommendation.Activities){
                    <li>
                      @foreach(var subactivity in activity){
                        <span class="comma is-size-7 has-text-dark">@subactivity</span>
                      }
                    </li>
                  }
                </ul>
                </div>
              </td>
            </tr>
          }
          </tbody>
        </table>
      </div>
  </div>
}