@model IEnumerable<Recommendation>

@if(Model.Any())
{
  <ol>
    @foreach(var recommendation in Model)
    {
      <li>@recommendation</li>
      @if(recommendation.Activities.Any())
      {
        <ol>
          @foreach(var activity in recommendation.Activities)
          {
            <li>@activity</li>
          }
        </ol>
      }
    }
  </ol>
}
