@model IEnumerable<Recommendation>

@if(Model.Any())
{
  <div class="panel recommendations-panel">
    <p class="panel-heading">
      Recommendations
    </p>
      <div class="panel-block">
        <table class="table">
          <tbody>
          @foreach(var recommendation in Model){
            <tr>
              <td>
                @recommendation
                @if(recommendation.Activities.Any() && ViewData.Eval("wide") != null) {
                <table class="table">
                  @foreach(var activity in recommendation.Activities){
                    <tr><td>
                      @foreach(var subactivity in activity){
                        <span class="is-size-7 has-text-info">@subactivity</span>
                      }</td>
                    </tr>
                  }
                </table>
                }
              </td>
            </tr>
          }
          </tbody>
        </table>
      </div>
  </div>
}
